@model models.tb_DepotInfo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tb_DepotInfo</legend>

    <div class="display-label">
        仓库名称
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         仓库编号
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">
         仓库位置
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         仓库地区
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Area)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="删除" /> |
        @Html.ActionLink("返回", "Depot")
    </p>
}
